/** @format */

$theme-colors: (
    'primary': #0091ea //Covalence Blue!  :D,,,,,
);

.no-select {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.pointer {
    cursor: pointer;
}

@import '../../../node_modules/bootstrap/scss/bootstrap.scss';
